First step :
 Considering only Month column:
 - Creating a list of random timestamp 
 - Extracting only Month names
 - Adding some noise by cutting some characters by random in    order to simulate typos
 - Applying fuzzy string matching logic and Levenshtein algorithm to find the best match(The core is difflib library)

In [1]:
import pandas as pd
import numpy as np
import random
import string
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import warnings
warnings.filterwarnings('ignore')

C:\ProgramData\Anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:35: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
#Creating a DataFrame of predefined size
size = 100
df = pd.DataFrame(index=range(size))

In [3]:
#Making a column of Random Timestamps
df["Timestamp"] = [ pd.Timestamp(2017, np.random.randint(1,13), 1) for _ in range(100) ]

#Extracting just the Months from above data
df["STD_Months"] = df["Timestamp"].apply(lambda x: x.strftime('%B'))
df["Noisy_Months"] = df["Timestamp"].apply(lambda x: x.strftime('%B'))
df.head(10)

   Timestamp STD_Months Noisy_Months
0 2017-07-01       July         July
1 2017-04-01      April        April
2 2017-03-01      March        March
3 2017-10-01    October      October
4 2017-10-01    October      October
5 2017-02-01   February     February
6 2017-06-01       June         June
7 2017-11-01   November     November
8 2017-08-01     August       August
9 2017-11-01   November     November

In [4]:
#Adding 10% random NaNs to to the column
ix = [(row) for row in range(df["Noisy_Months"].shape[0])]
for row in random.sample(ix, int(round(.1*len(ix)))):
    df["Noisy_Months"].iat[row] = np.nan
df.head(10)

    Timestamp STD_Months Noisy_Months
0  2017-07-01       July          NaN
1  2017-04-01      April        April
2  2017-03-01      March        March
3  2017-10-01    October      October
4  2017-10-01    October      October
5  2017-02-01   February     February
6  2017-06-01       June         June
7  2017-11-01   November     November
8  2017-08-01     August          NaN
9  2017-11-01   November     November
10 2017-11-01   November     November
11 2017-01-01    January      January
12 2017-08-01     August       August
13 2017-11-01   November     November
14 2017-12-01   December     December
15 2017-05-01        May          May
16 2017-01-01    January      January
17 2017-03-01      March        March
18 2017-05-01        May          May
19 2017-10-01    October      October

In [5]:
# #Random string generator
# def id_generator(size=2, chars=string.ascii_uppercase + string.digits):
#     return ''.join(random.choice(chars) for _ in range(size))
# randomString = id_generator()
# print(randomString)

In [6]:
#Replacing letters with random letter
from string import ascii_letters
for row in random.sample(ix, int(round(.4*len(ix)))):
#     s = df["Noisy_Months"].iat[row]
    if pd.notnull(df["Noisy_Months"].iat[row]):
        #Indexes
        #inds = [i for i,_ in enumerate(s) if not s.isspace()]
        indxs = [i for i , _ in enumerate(df["Noisy_Months"].iat[row])]
        print("indxs:" ,indxs)
        #Choose 3 random indexes
        sam = random.sample(indxs , 2)
        print("sam:" ,sam)
        #Choose 3 random character
        letts =  iter(random.sample(ascii_letters, 2))
        #make the string a list
        lst = list(df["Noisy_Months"].iat[row])
        for ind in sam:
            lst[ind] = next(letts)
    df["Noisy_Months"].iat[row]=("".join(lst))
    print("row:" ,row)    
    print("s:" ,df["Noisy_Months"].iat[row])

indxs: [0, 1, 2, 3, 4, 5, 6]
sam: [5, 2]
row: 87
s: OcvobMr
indxs: [0, 1, 2, 3, 4, 5]
sam: [3, 0]
row: 23
s: Ougost
indxs: [0, 1, 2, 3, 4, 5]
sam: [3, 0]
row: 51
s: cugbst
indxs: [0, 1, 2, 3]
sam: [1, 0]
row: 50
s: Zdly
indxs: [0, 1, 2, 3, 4, 5, 6, 7]
sam: [3, 6]
row: 92
s: Novambfr
row: 62
s: Novambfr
indxs: [0, 1, 2, 3, 4, 5, 6, 7]
sam: [7, 0]
row: 90
s: wecembev
indxs: [0, 1, 2, 3, 4, 5, 6, 7]
sam: [5, 6]
row: 42
s: NovemjUr
indxs: [0, 1, 2, 3]
sam: [1, 2]
row: 97
s: JYpe
indxs: [0, 1, 2, 3, 4, 5, 6, 7]
sam: [6, 5]
row: 98
s: NovemuLr
indxs: [0, 1, 2, 3]
sam: [3, 1]
row: 78
s: JAlJ
indxs: [0, 1, 2]
sam: [1, 0]
row: 18
s: Ovy
indxs: [0, 1, 2, 3, 4, 5, 6, 7]
sam: [6, 7]
row: 91
s: Decemblq
row: 8
s: Decemblq
indxs: [0, 1, 2, 3, 4, 5]
sam: [5, 1]
row: 49
s: AZgusl
indxs: [0, 1, 2, 3, 4, 5, 6, 7]
sam: [6, 1]
row: 77
s: Flbruafy
indxs: [0, 1, 2, 3, 4, 5, 6, 7]
sam: [0, 2]
row: 46
s: zoaember
indxs: [0, 1, 2, 3, 4, 5, 6, 7]
sam: [4, 6]
row: 45
s: DeceQbkr
indxs: [0, 1, 2, 3]
sam: [2, 0]
row: 71
s: Yumy
indxs: [0, 1, 2, 3, 4, 5, 6]
sam: [3, 4]
row: 4
s: OctXger
indxs: [0, 1, 2, 3, 4, 5, 6, 7]
sam: [1, 3]
row: 65
s: Frbzuary
indxs: [0, 1, 2, 3, 4, 5, 6]
sam: [6, 0]
row: 27
s: yanuarI
indxs: [0, 1, 2]
sam: [0, 2]
row: 72
s: Qal
indxs: [0, 1, 2, 3]
sam: [1, 3]
row: 37
s: JTnM
indxs: [0, 1, 2, 3, 4, 5]
sam: [4, 2]
row: 20
s: Aumuft
row: 0
s: Aumuft
indxs: [0, 1, 2, 3, 4, 5, 6, 7]
sam: [7, 4]
row: 52
s: FebrWarg
indxs: [0, 1, 2, 3, 4, 5, 6, 7]
sam: [2, 4]
row: 10
s: NoEeiber
indxs: [0, 1, 2, 3, 4, 5, 6, 7, 8]
sam: [2, 7]
row: 48
s: SeatembZr
indxs: [0, 1, 2, 3, 4, 5, 6]
sam: [1, 5]
row: 3
s: OFtobBr
indxs: [0, 1, 2, 3, 4, 5, 6]
sam: [4, 2]
row: 73
s: JaDuTry
indxs: [0, 1, 2, 3, 4]
sam: [4, 1]
row: 25
s: MRrct
indxs: [0, 1, 2, 3, 4, 5]
sam: [2, 1]
row: 57
s: AToust
indxs: [0, 1, 2, 3, 4, 5, 6, 7]
sam: [5, 6]
row: 84
s: NovemZBr
indxs: [0, 1, 2, 3, 4]
sam: [0, 4]
row: 63
s: UarcZ
indxs: [0, 1, 2, 3, 4, 5, 6, 7, 8]
sam: [8, 4]
row: 59
s: SeptQmbey
indxs: [0, 1, 2]
sam: [1, 0]
row: 69
s: YPy
indxs: [0, 1, 2, 3, 4, 5, 6, 7]
sam: [3, 0]
row: 5
s: qebauary
indxs: [0, 1, 2, 3, 4]
sam: [1, 0]
row: 38
s: cUrch
indxs: [0, 1, 2, 3, 4, 5]
sam: [3, 0]
row: 12
s: Bugzst

In [7]:
df.head(10)

    Timestamp STD_Months Noisy_Months
0  2017-07-01       July       Aumuft
1  2017-04-01      April        April
2  2017-03-01      March        March
3  2017-10-01    October      OFtobBr
4  2017-10-01    October      OctXger
5  2017-02-01   February     qebauary
6  2017-06-01       June         June
7  2017-11-01   November     November
8  2017-08-01     August     Decemblq
9  2017-11-01   November     November
10 2017-11-01   November     NoEeiber
11 2017-01-01    January      January
12 2017-08-01     August       Bugzst
13 2017-11-01   November     November
14 2017-12-01   December     December
15 2017-05-01        May          May
16 2017-01-01    January      January
17 2017-03-01      March        March
18 2017-05-01        May          Ovy
19 2017-10-01    October      October

In [8]:
df.shape

(100, 3)

In [9]:
#Drob fields containing missing values using Pandas's DropNA method
df.dropna(inplace=True)
df.shape
df.head(10)

    Timestamp STD_Months Noisy_Months
0  2017-07-01       July       Aumuft
1  2017-04-01      April        April
2  2017-03-01      March        March
3  2017-10-01    October      OFtobBr
4  2017-10-01    October      OctXger
5  2017-02-01   February     qebauary
6  2017-06-01       June         June
7  2017-11-01   November     November
8  2017-08-01     August     Decemblq
9  2017-11-01   November     November
10 2017-11-01   November     NoEeiber
11 2017-01-01    January      January
12 2017-08-01     August       Bugzst
13 2017-11-01   November     November
14 2017-12-01   December     December
15 2017-05-01        May          May
16 2017-01-01    January      January
17 2017-03-01      March        March
18 2017-05-01        May          Ovy
19 2017-10-01    October      October

In [10]:
#Applying Fuzzy Levenshtein string matching 
# months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November" ,"December"   ] 
choices_months = df["STD_Months"].unique()
%timeit df["Fuzzy_Info"] = df["Noisy_Months"].apply(lambda x: process.extract(x, choices_months, limit=1)[0])
df["Best_Match"] = df["Noisy_Months"].apply(lambda x: process.extractOne(x, choices_months)[0])
df.head(10)

1 loop, best of 3: 266 ms per loop

    Timestamp STD_Months Noisy_Months       Fuzzy_Info Best_Match
0  2017-07-01       July       Aumuft     (August, 67)     August
1  2017-04-01      April        April     (April, 100)      April
2  2017-03-01      March        March     (March, 100)      March
3  2017-10-01    October      OFtobBr    (October, 71)    October
4  2017-10-01    October      OctXger    (October, 71)    October
5  2017-02-01   February     qebauary   (February, 75)   February
6  2017-06-01       June         June      (June, 100)       June
7  2017-11-01   November     November  (November, 100)   November
8  2017-08-01     August     Decemblq   (December, 75)   December
9  2017-11-01   November     November  (November, 100)   November
10 2017-11-01   November     NoEeiber   (November, 75)   November
11 2017-01-01    January      January   (January, 100)    January
12 2017-08-01     August       Bugzst     (August, 67)     August
13 2017-11-01   November     November  (November, 100)   November
14 2017-12-01   December     December  (December, 100)   December
15 2017-05-01        May          May       (May, 100)        May
16 2017-01-01    January      January   (January, 100)    January
17 2017-03-01      March        March     (March, 100)      March
18 2017-05-01        May          Ovy   (November, 60)   November
19 2017-10-01    October      October   (October, 100)    October

In [11]:
#Calculating the Accuracy
from sklearn.metrics import accuracy_score
print("Accuracy is:",accuracy_score(df["STD_Months"] , df["Best_Match"]))

Accuracy is: 0.913978494624